.btn:disabled {
    opacity: 0.55;
}
.slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  .toggleswitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .toggleswitch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .clearfix{
      clear: both;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #e8702e;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #e8702e;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .common-hotel-content {
      margin: 25px 0 0;
  }
  .common-hotel-content table{
      width: 100%!important;
      font-size: 14px;
  }
  .common-hotel-content ul.common-hotels-field{
      padding: 0;
      margin: 0;
  }
  .common-hotel-content .common-hotels-field li{
      padding: 0 0 15px;
  }
  .common-hotel-content .common-hotels-field label{
      display: block;
      font-weight: bold;
  }
  .common-hotel-content .common-hotels-field input{
      padding: 8px;
      width: 70%;
  }
  .rdw-editor-wrapper{
      background: #fff;
  }